@{
  Layout = "_Layout";
}

<!--Homepage of the app (the following HTML elements are what get displayed on the screen).-->
<h1>Welcome back, Pierre!</h1>
<h3><a href='/vendors'>View Vendors</a></h3>  <!--Destination:  'Bakery/Views/Vendors/Index.cshtml'-->