@{
  Layout = "_Layout";
}

<h1>Welcome back, Pierre!</h1>
<h3><a href='/vendors'>View Vendors</a></h3>

<!--
<h3><a href='/categories/new'>Add new Vendor</a></h3>
<h3><a href='/categories/new'>Add new Order</a></h3>
<h3><a href='/categories/new'>Edit an existing Order</a></h3> 
-->