 @{
    Layout = "_Layout";
  }

    @using Bakery.Models;

    <h1>Vendors</h1>

    @if (Model.Count == 0) {
      <h3>No vendors have been added yet.</h3>
    } 
    else 
    {
      @foreach (Vendor vendor in Model)
      {
        <h3><a href='/vendors/@vendor.Id'>@vendor.VendorName</a></h3>
      }
    }

    <p><a href='/vendors/new'>Add a new Vendor</a>  <!--If clicked:  'VendorsController.cs' Ln18-21  =>  'Bakery/Views/Vendors/New.cshtml'. -->
    
      <form action="/vendors/orders/delete" method="post">
      <button type="submit" name="button" >Clear All Vendors</button>   
    </form>  <!-- If clicked:  'VendorsController.cs' Ln57-21  =>  'Bakery/Views/Vendors/DeleteAll.cshtml'. -->
    
    <p><a href='/'>Back to Home</a></p>