@{
  Layout = "_Layout";
}

<h1>Add a Vendor</h1>
  <br>
  <p>Enter the Vendor's info here: </p>
  <form action="/vendors" method="post">
    <label for="vendorName">Vendor name</label>
    <input id="vendorName" name="vendorName" type="text">
    <label for="desc">Their Information, address, etc</label>
    <input id="desc" name="desc" type="text">
    <button type="submit" class="btn btn-light">Add</button> <!--Submits to 'VendorsController.cs' Ln25. -->
  </form>

  <p><a href='/vendors'>Back to Vendors</a></p>