@{
  Layout = "_Layout";
}

  @using Bakery.Models;

  <h3>Orders from vendor</h3>

  <ol>
    @foreach (Order order in @Model["orders"])
    {
      <h3><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.OrderName</a></h3>
    }
  </ol>
  
  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>  <!-- Route: => 'Bakery/Controllers/OrdersController.cs' ==> 'Bakery/Views/Orders/New.cshtml' --> 
  <p><a href='/vendors'>Return to vendor list</a></p>  <!--Destination:  'Bakery/Views/Vendors/Index.cshtml'-->
  <p><a href='/'>Back to Home</a></p>  <!--Destination:  'Bakery/Views/Home/Index.cshtml'--> 