@{
  Layout = "_Layout";
}
  @using Bakery.Models;

  <h1>Order List</h1>
  @if (Model.Count == 0) {
    <p>There are no orders in the list.</p>
  }
  <ul>
    @foreach (Order order in Model)
    {
      <li><a href='/orders/@order.Id'>@order.OrderName</a></li>
    }
  </ul>

  <a href="/vendors/{vendorId}/orders/new">Add a new order</a> 
  <p><a href='/vendors'>Return to Vendors</a></p>
  <p><a href='/'>Back to Home</a></p>